<div id="welcome">
  <div class="container">
    <p class="text-center"><img class="d-inline" src="/images/panda-love.png" alt="Panda Love" /></p>
    <p>Current status : Sent by : </p>
    <p>I want to tell you that...</p>
    <a class="btn btn-special btn-sexy btn-lg btn-block" href="/welcome/green">You're sexy</a>
    <a class="btn btn-special btn-like btn-lg btn-block" href="/welcome/pink">I love you</a>
    <a class="btn btn-special btn-amazing btn-lg btn-block" href="/welcome/blue">You're amazing!</a>
    <a class="btn btn-special btn-miss btn-lg btn-block" href="/welcome/purple">I miss you</a>
    <a class="btn btn-special btn-snack btn-lg btn-block" href="/welcome/orange">You're a snack</a>
    <a class="btn btn-special btn-night btn-lg btn-block" href="#">Good night...</a>
  </div>

  <router-view></router-view>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
